.token-list {
    --logo-size: 40px;

    border: none;

    & > thead {
        display: none;
    }

    & > tbody {
        & > tr {
            & > td {
                display: flex;

                border-bottom: none;

                &:first-child {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .token-list {
        & > thead {
            display: table-header-group;
        }

        & > tbody {
            & > tr {
                & > td {
                    display: table-cell;

                    margin-left: 0;

                    &:first-child {
                        display: table-cell;
                        max-width: calc(var(--logo-size) * 1.5);

                        text-align: center;

                        & > img {
                            width: var(--logo-size);

                            border-radius: 50%;

                            image-rendering: pixelated;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}